<html>

<head>
    <link rel="icon" href="img/favicon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="container-fluid">
        <div>
            <div class="row">
                <h1>{{ creatingPurchase ? 'New Purchase' : creatingItem ? 'New Item' :'Overview'}}</h1>
            </div>
            <div v-if="creatingPurchase">
                <purchase-component :item="itemSelected" @oncancel="cancelNewPurchase" @onsuccess="onSuccess" @onerror="onError"></purchase-component>
            </div>
            <div v-if="creatingItem">
                <item-component :item="itemSelected" :groups="groups" :previous-group="filterGroup" @oncancel="cancelNewItem" @onsuccess="onSuccess" @onerror="onError"></item-component>
            </div>

            <div v-if="!creatingPurchase && !creatingItem">
                <div class="row form_inputs">
                    <select v-model="filterGroup"  >
                        <option>Todos</option>
                        <option v-for="g in groups" :value="g">{{g.name}}</option>
                    </select>
                </div>
                <line-component v-for="item in filteredItems" :item="item" @new="newPurchase"></line-component>
            </div>
            <div v-if="!creatingPurchase && !creatingItem" class="row">
                <div class="col-12">
                    <button style="margin-top: 15px;" class="btn btn_new prices btn-primary " @click="newItem">New Item</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/axios.min.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script src="js/config.js" type="text/javascript"></script>
<script src="js/line.js" type="text/javascript"></script>
<script src="js/purchase.js" type="text/javascript"></script>
<script src="js/item.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>

</html>