<html>
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" class="container-fluid">
            <div class="row">
                <h1>Overview</h1>
            </div>
            <div v-if="creating">
                <purchase-component></purchase-component>
            </div>
            <div v-else>
                <line-component v-for="item in items" :item="item" @new="newPurchase"></line-component>
            </div>

        </div>
    </body>

    <script id="lineCmp" type="text/x-template">
        <div class="row line">
            <div class="col-3">
                <div class="row">
                    {{item.initial}}    
                </div>
                <div class="row">
                    {{item.name}}
                </div>
            </div>
            <div class="col-2 ">
                <button type="button" class="btn  prices red">{{priceText(item.highestPrice)}}</button>
            </div>
            <div class="col-2 ">
                <button type="button" class="btn  prices green">{{priceText(item.lowestPrice)}}</button>
            </div>
            <div class="col-2 ">
                <button type="button" class="btn  prices gray">{{priceText(item.lastPrice)}}</button>
            </div>
            <div class="col-2 ">
                <button type="button" class="btn  prices btn-primary" @click="clickNew">New</button>
            </div>
        </div>    
    </script>



    <script id="purchaseCmp" type="text/x-template">
        <div class="row">
            <div class="col-2 ">
                Price:
            </div>
            <div class="col-10 ">
                <input />
            </div>
        </div>    
    </script>
 
    <script src="js/axios.min.js" type="text/javascript"></script>
    <script src="js/vue.min.js" type="text/javascript"></script>
    <script src="js/components.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>

</html>